@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Neonderthaw&family=Syncopate:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

font-inter{
  font-family: 'Inter', sans-serif;
}
font-sync{
  font-family: 'Syncopate', sans-serif;
}
font-neo{
  font-family: 'Neonderthaw', cursive;
}